* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
.heading{
  margin-bottom: auto;
}
.fact{
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #3a4750;
}
.nav {
  display: inline-block;
  margin: 25px 50px 25px 0;
  color: white;
}
.navbar h1 {
  color: #ff8d29;
  margin: 25px 40px 25px 50px;
  font-size: 30px;
}
.nav button {
  padding: 10px 30px 10px 30px;
  background-color: #f6c90e;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 40px;
}
.nav button:hover {
  background-color: black;
}
.nav > a {
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 40px;
}
.nav a:hover {
  color: #f6c90e;
}
.nav > button > a {
  color: black;
}
.nav > button > a:hover {
  color: #f6c90e;
}

.container > .row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.container {
  background: url("../images/pexels-akin-victor-10202865.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.9;
  width: 100%;
  height: 40vh;
}

.container > .row > .banner h2 {
  color: grey;
  align-items: center;
}
.container > .banner > .heading,
p {
  color: black;
  font-size: medium;

  text-shadow: 5px 5px 10px #ffff;
}
.heading,
h1 {
  color: beige;
}
.container > .row > .banner p {
  margin-top: 50px;
}
.container > .row > .banner img {
  height: 350px;
}

.image {
  margin: 20px 0 20px 60px;
}
.image img {
  border-radius: 15px;
}
.about-Us {
  display: flex;
  gap: 80px;
  margin-left: 50px;
  background-color: #ededed;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 50px;
}

.more button {
  border: none;
  border-radius: 10px;
  background-color: #f6c90e;
  color: black;
  padding: 15px 20px 15px 20px;
  margin-top: 30px;
  margin-left: 100;
}

.more h2 {
  font-size: 40px;
  padding: 40px 0 40px 0;
}
.about us > .more p {
  font-size: 25px;
  line-height: 50px;
  color: black;
}

.footer {
  margin: 0px 0px 0px 0px;
  background-color: #3a4750;
}
.footer h3 {
  padding: 15px 0 15px 30px;
  color: white;
}
.footer h3 span {
  color: #ff8d29;
}
.iconfooter {
  color: #ff8d29;
  font-size: 30px;
  padding: 20px 0 0 0;
  display: flex;
  justify-content: space-around;
}
.footer hr {
  border: none;
  border: 1px solid black;
}
.footer ul {
  display: flex;
  color: white;
  gap: 80px;
  justify-content: center;
  padding: 20px 0 15px 0;
  list-style: none;
  text-decoration: none;
}

.fetched{
  text-align: center;
  border: #f6c90e;
  padding-left: 0%;
}
.footer h4 {
  color: white;
  padding: 20px 0 15px 0;
  text-align: center;
}
